/* Provide sufficient contrast against white background */
body {
    background-color: #272937;
    color:#ffffff;
}
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.btn-add {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
    .btn-add:hover {
        color: #28a745;
        background-color: #fff;
        border-color: #fff;
    }
input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
    border-radius:5px;
}

    input[type="submit"]:hover {
        background: #6cf0c2;
    }

.button-container {
    display: flex;
    justify-content: center;
}

.form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 80%;
    margin: 5% 10% 5% 10%;
    display: inline-block;
    border-radius:5px;
    color:#272937;
}
.form label{
    text-align:left;
}
.separator {
    text-align: center;
    margin: 1rem;
    border: 1px solid #797979;
}
.w-100{
    width:100%;
}
.row{
    margin:1rem;
}
.no-padding{
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
}
.next-to-watch {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
}
.series-container {
    display: block;
    min-height: 200px;
    width: 100%;
    margin-top: 1rem;
    border: 1px solid #2f2f30;
    background-color: #3e4048;
    border-radius: 5px;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 1rem;
    margin: 10px;
}

.series {
    position: relative;
    transition: transform 0.2s;
    width: 200px;
    display: inline-block;
    text-align: center;
}

    .series:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
.series-img {
    width: 100%;
    max-height: 275px;
}
    .series:hover .overlay {
        opacity: 1;
    }

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    height: 100%;
}

    .overlay span {
        color: #ffffff;
        text-decoration: none;
    }
.watched {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 1;
    top: 0;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    height: 100%;
}
.link {
    text-decoration: none;
    color: #ffffff;
}

    .link:hover {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
    }